<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bjheggset.buckets">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".MinSide"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".NewItem"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ListBuckets"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".DetailsBucket"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".EditBucket"
            android:label="@string/title_activity_edit_bucket"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1808143812784653"
            android:exported="true" />

        <activity android:name=".ShareActivity"></activity>
    </application>

</manifest>